body {
	margin: 0;
	padding: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
section > div {
	padding: 20px;
}
header, nav, section, footer {
	background: #eee;
	text-align: center;
}
nav span {
	margin: 0 10px 0 0;
}
a {
	color: #00B7FF;
}
.question-list {
	margin: 1em auto;
	border-collapse: collapse;
}
.question-list tr {
	border-top: 1px solid #CCC;
}
.question-list tr:last-child {
	border-bottom: 1px solid #CCC;
}
.question-list td{
	padding: 0.3em;
}
.page-warp {
	margin: 2% auto;
	color: white;
}
.page-warp > .main {
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}
.comment {
	border: 1px solid #999;
	border-radius: 4px;
	width: 250px;
	margin: 1em auto;
	background: #CCC;
}
