<div>
	<label class="rem" for="preg">Pregunta:</label>
	<input  id="preg" name="quiz[pregunta]" type="text" value="<%= quiz.pregunta %>" placeholder="Pregunta"/>
</div>
<div>
	<label class="rem" for="resp">Respuesta:</label>
	<input  id="resp" name="quiz[respuesta]" type="text" value="<%= quiz.respuesta %>" placeholder="Respuesta"/>
</div>
<a href="/quizes">Cancelar</a>

<input type="submit" value="Salvar">
